.venv
Dockerfile
docker-compose.yml
.env
staticfiles/
media/
.idea/
*.egg-info

*.pfx
*.pem
*.key

__pycache__/
*.pyc
*.pyo
*.sqlite3
*.log
*.tar

*.iml

node_modules/
npm-debug.log
yarn-error.log

*.swp
*.bak
*.tmp
.DS_Store
